requests>=2.31.0
urllib3>=2.0.0
fastapi
uvicorn
sqlalchemy
python-dotenv
pandas
scikit-learn
google-play-scraper
python-app-store-scraper
playwright
langdetect
deep-translator
emoji
google-generativeai
transformers
numpy
textblob